*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.settings/
.project
.classpath
.checkstyle

# IntelliJ #
*.iml
.idea/*

# Maven #
target/
dependency-reduced-pom.xml

# TestNG #
test-output/

# macOS .DS_Store
.DS_Store
**/.DS_Store
